// COLORS
$color-primary: #ffbe2e;
$color-secondary: #233c51;

// GRID
$grid-width: 75rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.4rem;
$font-heading: 'Asul', sans-serif;
$font-body: 'Nunito Sans', sans-serif;
