// COLORS
$color-primary: #f69421;
$color-secondary: #202020;

// GRID
$grid-width: 90rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.4rem;
$font-heading: 'Asul', sans-serif;
$font-body: 'Nunito Sans', sans-serif;
