@import "../base/typography";

.article {
    &__header {
        margin-bottom: 4rem;
    }

    &__title {
        text-align: center;
    }

    &__date_tags {
        text-align: center
    }

    &__date {
        display: inline-block;
        font-family: monospace;
        margin-bottom: 1.5rem;
    }

    &__body {
        max-width: 75rem;
        margin: 0 auto;
    }

    p {
        @extend .paragraph;
    }

    h1 {
        @extend .heading--primary;
    }

    h2 {
        @extend .heading--secondary;
        margin-top: 2rem;
    }
}